@model MyERP.Admin.Models.ProductViewModel
@using MyERP.Admin.Extensions
@using System.ComponentModel.DataAnnotations
@{
    ViewBag.Title = "Detaylar";
}

<h2>Detaylar</h2>

<div>
    <h4>Ürünler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>

        <dd>
            @(Model.ProductType?.GetAttribute<DisplayAttribute>().Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanBePurchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanBePurchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanBeSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanBeSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
