@model IEnumerable<MyERP.Admin.Models.ProductViewModel>
@using MyERP.Admin.Extensions
@using System.ComponentModel.DataAnnotations
@{
    ViewBag.Title = "Ürünler";
}

<h2>Ürünler</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Yeni Ürün</a>
</p>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanBePurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanBeSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="all">Eylemler</th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(item.ProductType?.GetAttribute<DisplayAttribute>().Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanBePurchased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanBeSold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="text-nowrap">
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" }) 
                    @Html.ActionLink("Detaylar", "Details", new { id = item.Id },new { @class = "btn btn-default btn-sm" }) 
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
</tbody>
</table>
